# Python / Virtual Environment
venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env
*.env.local

# Node / React
frontend/node_modules/
frontend/dist/

# Database / IDE
*.sqlite3
.vscode/
.idea/
